In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
mpl.rc('font', family='Malgun Gothic')
mpl.rc('axes', unicode_minus=False)
import folium
import json
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
from glob import glob
# 파일 갯수 확인
len(glob('./과제data/소상공인*.csv'))

17

In [3]:
all_shop = glob('./과제data/소상공인*.csv')

In [4]:
df = pd.read_csv(all_shop[1], sep='|')
df['상호명'] = df['상호명'].str.lower()

In [5]:
tmp = df
len((tmp[tmp['상호명'].str.find('kfc')!= -1]) | (tmp[tmp['상호명'].str.find('케이에프시')!= -1]) | (tmp[tmp['상호명'].str.find('케이에프씨')!= -1]))

TypeError: unsupported operand type(s) for |: 'float' and 'bool'

In [11]:
len(tmp[(tmp['상호명'].str.contains('케이에프시')) | (tmp['상호명'].str.contains('kfc')) | (tmp['상호명'].str.contains('케이에프씨'))])

124

In [12]:
import cartogram.fillter as ft

In [13]:
c_d = ft.fillter(all_shop)

In [14]:
c_p = pd.DataFrame(c_d)

In [15]:
c_p.rename({0:'ID', 1:'버거킹', 2: '맥도날드', 3:'KFC', 4:'롯데리아', 5:'맘스터치'},axis=1 ,inplace=True)

In [16]:
c_p['버거지수'] = (c_p['버거킹'] + c_p['맥도날드'] + c_p['KFC']) / (c_p['롯데리아'] + c_p['맘스터치'])

In [17]:
c_p

     ID  버거킹  맥도날드  KFC  롯데리아  맘스터치      버거지수
0    홍천    4     3    0     3     1  1.750000
1    강릉    1     5    0     5     4  0.666667
2    영월    0     0    0     0     0       NaN
3    원주    1    13    0    13     4  0.823529
4    삼척    0     0    0     0     1  0.000000
..   ..  ...   ...  ...   ...   ...       ...
245  괴산    0     1    0     1     0  1.000000
246  증평    0     1    0     1     1  0.500000
247  영동    0     0    0     0     0       NaN
248  단양    0     0    0     0     0       NaN
249  보은    0     1    0     1     0  1.000000

[250 rows x 7 columns]

In [18]:
c_p[c_p['ID'] == '광명']

    ID  버거킹  맥도날드  KFC  롯데리아  맘스터치  버거지수
54  광명    1     1    1     1     0   3.0

In [44]:
c_p[c_p['버거지수'] == np.inf]

    ID  버거킹  맥도날드  KFC  롯데리아  맘스터치  버거지수
9   동해    0     3    1     0     0   inf
72  통영    0     2    0     0     0   inf
80  밀양    0     2    0     0     0   inf

In [45]:
c_p.replace([np.inf], 0,inplace=True)

In [46]:
c_p = c_p.fillna(0)

In [48]:
draw_korea_raw = pd.read_excel('./과제data/draw_korea_raw(수정).xlsx')
draw_korea_raw_stacked = pd.DataFrame(draw_korea_raw.stack())
draw_korea_raw_stacked.reset_index(inplace=True)
draw_korea_raw_stacked.rename(columns={'level_0' : 'y', 'level_1' : 'x', 0: 'ID'}, inplace=True)
draw_korea = draw_korea_raw_stacked
draw_korea.loc[draw_korea['ID'] == '인천 남구', 'ID'] = '인천 미추홀'

In [49]:
c_p = pd.merge(c_p, draw_korea, how='left', on=['ID'])
c_p.head()

   ID  버거킹  맥도날드  KFC  롯데리아  맘스터치      버거지수  y   x
0  홍천    4     0    0     3     1  1.000000  2   8
1  강릉    1     1    0     5     4  0.222222  3  11
2  영월    0     0    0     0     0  0.000000  7  10
3  원주    1     5    0    13     4  0.352941  5  10
4  삼척    0     0    0     0     1  0.000000  5  11

In [50]:
c_p.to_csv('./static/data/b_p.csv')

In [16]:
df = pd.read_csv('./static/data/b_p.csv')

In [17]:
df[df['ID'] == '광명']

    Unnamed: 0  ID  버거킹  맥도날드  KFC  롯데리아  맘스터치  버거지수  y  x
54          54  광명    1     5    1     1     0   7.0  4  4

In [7]:
c_p