In [2]:
import sqlite3
import pandas as pd
covid = pd.read_csv('전국코로나일별.csv')
covid.head()

,date,서울,부산,대구,인천,대전,광주,울산,세종,경기,강원,충북,충남,경북,경남,전북,전남,제주,합계
0,2020-03-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2020-03-02,10,3,469,0,0,0,3,0,7,8,1,13,67,4,1,0,0,586
2,2020-03-03,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2020-03-04,1,3,405,2,1,2,3,0,7,1,0,1,89,1,0,0,0,516
4,2020-03-05,4,-1,321,0,1,1,0,0,9,2,1,4,87,9,0,-1,1,438

In [4]:
conn = sqlite3.connect('co2.db')
cur = conn.cursor()