In [26]:
import pandas as pd

In [27]:
import pandas_datareader as pdr
from datetime import datetime
start = datetime(2013, 1, 1)
end = datetime(2020, 12, 4)

In [28]:
kakao = pdr.DataReader('095570.KS', data_source='yahoo', start=start, end=end)

In [29]:
kakao

              High     Low    Open   Close     Volume    Adj Close
Date
2015-08-21  7300.0  5600.0  6180.0  7100.0  9970110.0  6947.291016
2015-08-24  6940.0  6240.0  6700.0  6480.0  1964155.0  6340.625977
2015-08-25  6730.0  6190.0  6610.0  6220.0  1213650.0  6086.218262
2015-08-26  7760.0  6260.0  6260.0  7090.0  3518605.0  6937.505859
2015-08-27  8060.0  6960.0  7240.0  7570.0  2499565.0  7407.182129
...            ...     ...     ...     ...        ...          ...
2020-11-30  4660.0  4515.0  4660.0  4530.0   325273.0  4530.000000
2020-12-01  4560.0  4445.0  4560.0  4460.0   208335.0  4460.000000
2020-12-02  4505.0  4350.0  4460.0  4365.0   243752.0  4365.000000
2020-12-03  4535.0  4355.0  4450.0  4480.0   198469.0  4480.000000
2020-12-04  4575.0  4495.0  4495.0  4550.0   222605.0  4550.000000

[1293 rows x 6 columns]

In [30]:
kospi = pd.read_csv('kospi.csv')
kospi.head()

,종목코드,종목명,현재가,대비,등락률(%),매도호가,매수호가,거래량(주),거래대금(원),시가,고가,저가,액면가,통화구분,상장주식수(주),상장시가총액(원),총카운트
0,095570,AJ네트웍스,"4,590",30,0.66,"4,590","4,585","781,237","3,706,015,025","4,735","4,950","4,585","1,000",원(KRW),"46,822,295","214,914,334,050",917.0
1,006840,AK홀딩스,"25,300","-1,250",4.71,"25,450","25,300","106,732","2,718,418,700","26,200","26,200","25,050","5,000",원(KRW),"13,247,561","335,163,293,300",NaN
2,027410,BGF,"4,820",20,0.42,"4,830","4,815","1,089,384","5,252,573,200","4,760","4,885","4,720","1,000",원(KRW),"95,716,791","461,354,932,620",NaN
3,282330,BGF리테일,"129,000","-3,000",2.27,"129,500","129,000","43,637","5,671,121,000","133,500","134,000","128,000","1,000",원(KRW),"17,283,906","2,229,623,874,000",NaN
4,138930,BNK금융지주,"5,830",-10,0.17,"5,840","5,830","1,241,588","7,261,144,190","5,870","5,890","5,810","5,000",원(KRW),"325,935,246","1,900,202,484,180",NaN

In [31]:
kospi['종목코드'] =  kospi['종목코드'] + '.KS'
kospi.head()

,종목코드,종목명,현재가,대비,등락률(%),매도호가,매수호가,거래량(주),거래대금(원),시가,고가,저가,액면가,통화구분,상장주식수(주),상장시가총액(원),총카운트
0,095570.KS,AJ네트웍스,"4,590",30,0.66,"4,590","4,585","781,237","3,706,015,025","4,735","4,950","4,585","1,000",원(KRW),"46,822,295","214,914,334,050",917.0
1,006840.KS,AK홀딩스,"25,300","-1,250",4.71,"25,450","25,300","106,732","2,718,418,700","26,200","26,200","25,050","5,000",원(KRW),"13,247,561","335,163,293,300",NaN
2,027410.KS,BGF,"4,820",20,0.42,"4,830","4,815","1,089,384","5,252,573,200","4,760","4,885","4,720","1,000",원(KRW),"95,716,791","461,354,932,620",NaN
3,282330.KS,BGF리테일,"129,000","-3,000",2.27,"129,500","129,000","43,637","5,671,121,000","133,500","134,000","128,000","1,000",원(KRW),"17,283,906","2,229,623,874,000",NaN
4,138930.KS,BNK금융지주,"5,830",-10,0.17,"5,840","5,830","1,241,588","7,261,144,190","5,870","5,890","5,810","5,000",원(KRW),"325,935,246","1,900,202,484,180",NaN

In [32]:
kospi = kospi[['종목코드','종목명']]
kospi.head()

        종목코드      종목명
0  095570.KS   AJ네트웍스
1  006840.KS    AK홀딩스
2  027410.KS      BGF
3  282330.KS   BGF리테일
4  138930.KS  BNK금융지주

In [33]:
kosdaq = pd.read_csv('kosdaq.csv')
kosdaq.head()

,종목코드,종목명,현재가,대비,등락률(%),매도호가,매수호가,거래량(주),거래대금(원),시가,고가,저가,액면가,통화구분,상장주식수(주),상장시가총액(원),총카운트
0,060310,3S,"2,180",-30,1.36,"2,180","2,175","122,723","267,747,005","2,205","2,205","2,150",500,원(KRW),"44,802,511","97,669,473,980",1463.0
1,054620,APS홀딩스,"8,190",310,3.93,"8,200","8,190","236,442","1,912,455,300","7,880","8,220","7,810",500,원(KRW),"20,394,221","167,028,669,990",NaN
2,265520,AP시스템,"24,100",-200,0.82,"24,100","24,050","108,121","2,594,868,600","24,300","24,300","23,800",500,원(KRW),"14,480,227","348,973,470,700",NaN
3,211270,AP위성,"6,970",-10,0.14,"6,970","6,960","53,629","374,020,120","6,980","7,020","6,910",500,원(KRW),"15,014,804","104,653,183,880",NaN
4,035760,CJ ENM,"136,400",-600,0.44,"136,700","136,400","48,178","6,551,114,400","136,700","136,900","135,300","5,000",원(KRW),"21,929,154","2,991,136,605,600",NaN

In [34]:
kosdaq['종목코드'] =  kosdaq['종목코드'] + '.KQ'
kosdaq.head()

,종목코드,종목명,현재가,대비,등락률(%),매도호가,매수호가,거래량(주),거래대금(원),시가,고가,저가,액면가,통화구분,상장주식수(주),상장시가총액(원),총카운트
0,060310.KQ,3S,"2,180",-30,1.36,"2,180","2,175","122,723","267,747,005","2,205","2,205","2,150",500,원(KRW),"44,802,511","97,669,473,980",1463.0
1,054620.KQ,APS홀딩스,"8,190",310,3.93,"8,200","8,190","236,442","1,912,455,300","7,880","8,220","7,810",500,원(KRW),"20,394,221","167,028,669,990",NaN
2,265520.KQ,AP시스템,"24,100",-200,0.82,"24,100","24,050","108,121","2,594,868,600","24,300","24,300","23,800",500,원(KRW),"14,480,227","348,973,470,700",NaN
3,211270.KQ,AP위성,"6,970",-10,0.14,"6,970","6,960","53,629","374,020,120","6,980","7,020","6,910",500,원(KRW),"15,014,804","104,653,183,880",NaN
4,035760.KQ,CJ ENM,"136,400",-600,0.44,"136,700","136,400","48,178","6,551,114,400","136,700","136,900","135,300","5,000",원(KRW),"21,929,154","2,991,136,605,600",NaN

In [35]:
kosdaq = kosdaq[['종목코드','종목명']]
kosdaq.head()

        종목코드     종목명
0  060310.KQ      3S
1  054620.KQ  APS홀딩스
2  265520.KQ   AP시스템
3  211270.KQ    AP위성
4  035760.KQ  CJ ENM

In [36]:
df = pd.concat([kospi,kosdaq])

In [37]:
df[df['종목명'] == '삼성전자']['종목코드']

412    005930.KS
Name: 종목코드, dtype: object

In [39]:
df.to_csv("result.csv", encoding='utf-8', sep=',')

In [47]:
df = pd.read_csv('result.csv',sep=',',  index_col=0)

In [48]:
df

           종목코드      종목명
0     095570.KS   AJ네트웍스
1     006840.KS    AK홀딩스
2     027410.KS      BGF
3     282330.KS   BGF리테일
4     138930.KS  BNK금융지주
...         ...      ...
1458  024060.KQ     흥구석유
1459  010240.KQ       흥국
1460  189980.KQ   흥국에프엔비
1461  037440.KQ       희림
1462  238490.KQ       힘스

[2380 rows x 2 columns]

In [49]:
code = '삼성전자'
code = df[df['종목명'] == code ]['종목코드']

In [70]:
df['종목코드'][df['종목명'] == '삼성전자'].to_list()[0]

'005930.KS'

In [67]:
a[412]

'005930.KS'